
#Contact{
    background: url(../media/office1.png);
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    margin-top: 100px;
    color: #fff;
    
}
.contact-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: space-between;
    margin: 50px auto;

}
.contact-ops .ops{
    margin-bottom: 30px;
    border-top: 1px solid #fff;
    padding-top: 10px;
    width: 300px;
}

.contact-ops .ops a{
    color: #fff;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    transition: var(--smooth-transition);
}

.contact-ops .ops a span{
    margin-right: 15px;
    padding:  12px 15px;
    background: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(5px);
    color: var(--primary-color);
    border-radius: 50%; 
}
.contact-ops .ops a:hover{
    transform: scale(1.2);

}

.contact-form .form-control{
    width: 350px;
    margin-bottom: 25px;
}
.contact-form .form-control input, textarea{
    width: 100%;
    padding: 8px 0px 0 15px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
    resize: none;

}
input::placeholder, textarea::placeholder{
    color: #000;
}
#Contact h3{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Bai Jamjuree', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}
form{
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    background: var(--button-gradient);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    transition: var(--smooth-transition)
}
button:hover{
    transform: scale(1.05);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    border-top: 2px solid #fff;
    padding: 25px 0 50px;
    margin: 0 auto;
}
.footer p{
    font-family:'Shadows Into Light', cursive ;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary-color);
}
@media only screen and (max-width: 1200px){
    .contact-container{
        justify-content: space-around;
        
    }
    .footer{
        justify-content: space-between;
        max-width: 700px;
        padding: 20px 0 35px;
        
    }
}

@media only screen and (max-width: 900px){
    .contact-container{
        padding: 0 50px;
    }
    #Contact h3{
        padding-left: 50px;
    }
}

@media only screen and (max-width: 850px){
    .contact-container{
        padding: 0 20px;
    }
    #Contact h3{
        padding-left: 20px;
    }
    .contact-ops .ops{
        margin-bottom: 20px;
        padding-top: 20px;
        width: 250px;
    }
    .contact-form .form-control{
        width: 300px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px){
    .contact-container{
       flex-direction: column-reverse;
        
    }
    .footer{
        max-width: 400px;
        
    }
    .contact-ops .ops{
        margin-top: 35px;
    }
}
@media only screen and (max-width: 428px){
    
    .footer{
        max-width: 300px;
        
    }
    .contact-form .form-control{
        width: 300px;
        margin-bottom: 15px;
    }
    #Contact h3{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 360px){
    
    .footer{
        max-width: 250px;
    }
    .contact-form .form-control{
        width: 250px;
    }
}

