.tech-container{
    background: #fff;
}
.tech-box{
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}
.tech-box h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 40px;
}

.tech-box p{
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 200;
    line-height: 1.6;
    font-size: 1.2rem;
}
.tech-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px;
    margin-top: 40px;
    gap: 20px;
    
}

.tech-grid .tech-imgbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    background: #FFF;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.tech-grid .tech-imgbox img{
    width: 100%;
    display: block;
}
.tech-grid .tech-imgbox small{
    color:#000 ;
    font-size: 18px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    
    
}

@media only screen and (max-width: 428px){
    .tech-grid{
        place-content: center;     
        
    }
    .tech-box h2{
        font-size: 1.5;
        padding-bottom: 20px;
        text-align: center;
    }
    .tech-box p{
        font-size: 1.2rem;
        text-align: center;
       
    }

}
@media only screen and (max-width: 360px){
    .tech-grid{
        gap: 10px;
    }
    .tech-grid .tech-imgbox{
        padding: 10px;
        
    }
}